[credential]
	helper = cache --timeout=3600
[alias]
	c = checkout
	cb = checkout -b
	b = branch
	bd = branch -d
	bdf = branch -D
	bm = branch -m
	s = status 
	ss = status -s 
	cv = cherry -v
	a = add
	co = commit 
	ca = commit -a
	cam = commit -a -m
	cm = commit -m
	amd = commit --amend
	d = diff
	l = log
	lst = log --stat
	graph = log --graph 
	g = log --graph --date-order -C -M --pretty=format:\"<%h> %ar [%an] %Cgreen%d%Creset %s\" --all 
	m = merge
	rb = rebase
	rbi = rebase -i 
	rld = log origin/master..master
	rhh = reset --hard HEAD
	rhh1 = reset --hard HEAD^
	stl = stash list | cat 
	st = git stash save
	ps = push
	pl = pull
	pr = pull --rebase
[core]
	pager = lv -c 
	editor = vim -c \"set fenc=utf-8\"
[color]
	ui = auto
[include]
	path = .local.gitconfig
