[credential]
	helper = cache --timeout=3600
[alias]
	cv = cherry -v
	rhh = reset --hard HEAD
	rhh1 = reset --hard HEAD^
	rld = log origin/master..master
	c = checkout
	cb = checkout -b
	b = branch
	bd = branch -d
	bdf = branch -D
	s = status 
	ss = status -s 
	d = diff
	l = log
	co = commit 
	ca = commit -a
	cam = commit -a -m
	cm = commit -m
	amd = commit --amend
	hp = push -u origin master
	mm = merge master 
	m = merge
	g = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all 
	gs = log --graph --date-order -M -C
	graph = log --graph 
	rb = rebase
	rbi = rebase -i 
[core]
	pager = lv -c
	editor = vim
[color]
	ui = auto
[user]
	name = nobuyasu tomura
	email = nobuyasu.tomura@soliton.co.jp
