#!/usr/bin/env bash

source ~/.bashrc

echo $(date) > /tmp/.xprofile-was-called

setxkbmap -option ctrl:nocaps
# # setxkbmap -option japan:hztg_escape
# 
# xset r rate 160 100
# xmodmap $HOME/dotfiles/.Xkeymap-for-minila-air-us
# 
# echo $(date) > /tmp/dot-xprofile-executed

xset r rate 160 60

export DefaultImModule=fcitx5
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5
export LC_CTYPE=ja_JP.utf8
fcitx5 -d

# twmnd &

tint2 &
nm-applet &
feh --bg-scale ~/n/wallpapers/archlinux-purple-wallpaper-4k.png &
