<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/X11R6/share/openbox/menu.xsd">
<menu id="root-menu" label="openbox3">
    <item label="terminator"><action name="Execute"><execute>terminator</execute></action></item>
    <item label="File Manager"><action name="Execute"><execute>thunar</execute></action></item>
    <item label="Chrome"><action name="Execute"><execute>google-chrome</execute></action></item>
    <item label="Run Command"><action name="Execute"><execute>dmenu_run</execute></action></item>
    <separator />
    <menu id="client-list-combined-menu" />
    <separator label="Applications"/>
    <menu id="Graphics" label="Graphics">
        <item label="Feh"><action name="Execute"><execute>feh</execute></action></item>
        <item label="GIMP"><action name="Execute"><execute>gimp</execute></action></item>
    </menu>
    <menu id="Audio &amp; Video" label="Audio &amp; Video">
        <item label="pavucontrol"><action name="Execute"><execute>pavucontrol</execute></action></item>
        <item label="VLCメディアプレイヤー"><action name="Execute"><execute>vlc</execute></action></item>
        <item label="Audacity"><action name="Execute"><execute>audacity</execute></action></item>
    </menu>
    <menu id="Office" label="Doc and Office">
        <item label="Evince"><action name="Execute"><execute>evince</execute></action></item>
        <item label="LibreOffice"><action name="Execute"><execute>libreoffice</execute></action></item>
        <item label="LibreOffice Writer"><action name="Execute"><execute>libreoffice -writer</execute></action></item>
        <item label="LibreOffice Calc"><action name="Execute"><execute>libreoffice -calc</execute></action></item>
        <item label="LibreOffice Base"><action name="Execute"><execute>libreoffice -base</execute></action></item>
        <item label="LibreOffice Draw"><action name="Execute"><execute>libreoffice -draw</execute></action></item>
        <item label="LibreOffice Impress"><action name="Execute"><execute>libreoffice -impress</execute></action></item>
        <item label="LibreOffice Math"><action name="Execute"><execute>libreoffice -math</execute></action></item>
    </menu>
    <menu id="Settings" label="Settings">
        <item label="fcitx"><action name="Execute"><execute>fcitx-configtool</execute></action></item>
        <item label="blueberry"><action name="Execute"><execute>blueberry</execute></action></item>
    </menu>
    <separator />
    <menu id="Openbox Settings" label="Openbox Settings">
        <item label="Reconfigure Openbox"><action name="Reconfigure" /></item>
        <item label="Configure Autostart Applications"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/openbox/autostart.sh</execute></action></item>
        <item label="Edit rc.xml"><action name="Execute"><execute>xterm -e vim /home/nobuyasu/.config/openbox/rc.xml</execute></action></item>
        <separator label="obmenugen settings"/>
        <item label="Edit obmenugen configuration"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/obmenugen/obmenugen.cfg</execute></action></item>
        <item label="Edit obmenugen exclusions"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/obmenugen/exclusions</execute></action></item>
        <item label="Edit obmenugen schema"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/obmenugen/obmenugen.schema</execute></action></item>
    </menu>
    <item label="Reconfigure Openbox"><action name="Reconfigure" /></item>
    <separator />
    <item label="Lock Screen"><action name="Execute"><execute>xscreensaver-command -lock</execute></action></item>
    <item label="Exit"><action name="Exit" /></item>
</menu>
</openbox_menu>
