<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/X11R6/share/openbox/menu.xsd">
<menu id="root-menu" label="openbox3">
    <item label="terminator"><action name="Execute"><execute>terminator</execute></action></item>
    <item label="File Manager"><action name="Execute"><execute>thunar</execute></action></item>
    <item label="Chrome"><action name="Execute"><execute>google-chrome</execute></action></item>
    <item label="Run Command"><action name="Execute"><execute>dmenu_run</execute></action></item>
    <separator />
    <menu id="client-list-combined-menu" />
    <separator label="Applications"/>
    <menu id="Accesories" label="Accesories">
        <item label="システムターミナル・スーパーユーザーモード"><action name="Execute"><execute>gksu /usr/bin/x-terminal-emulator</execute></action></item>
        <item label="ファイルマネージャ"><action name="Execute"><execute>thunar</execute></action></item>
        <item label="Leafpad"><action name="Execute"><execute>leafpad</execute></action></item>
    </menu>
    <menu id="Graphics" label="Graphics">
        <item label="ドキュメント・ビューア"><action name="Execute"><execute>evince</execute></action></item>
        <item label="Comix"><action name="Execute"><execute>comix</execute></action></item>
        <item label="Feh"><action name="Execute"><execute>feh</execute></action></item>
        <item label="GIMP"><action name="Execute"><execute>gimp</execute></action></item>
        <item label="Inkscape"><action name="Execute"><execute>inkscape</execute></action></item>
        <item label="XSane Image scanning program"><action name="Execute"><execute>xsane</execute></action></item>
        <item label="gv"><action name="Execute"><execute>gv</execute></action></item>
        <item label="xpdf"><action name="Execute"><execute>xpdf</execute></action></item>
    </menu>
    <menu id="Audio &amp; Video" label="Audio &amp; Video">
        <item label="VLCメディアプレイヤー"><action name="Execute"><execute>vlc</execute></action></item>
        <item label="VLCメディアプレイヤー"><action name="Execute"><execute>vlc</execute></action></item>
    </menu>
    <menu id="Office" label="Office">
        <item label="Evolution"><action name="Execute"><execute>evolution</execute></action></item>
        <item label="OpenOffice.org Base"><action name="Execute"><execute>ooffice -base</execute></action></item>
        <item label="OpenOffice.org Calc"><action name="Execute"><execute>ooffice -calc</execute></action></item>
        <item label="OpenOffice.org Draw"><action name="Execute"><execute>ooffice -draw</execute></action></item>
        <item label="OpenOffice.org Impress"><action name="Execute"><execute>ooffice -impress</execute></action></item>
        <item label="OpenOffice.org Math"><action name="Execute"><execute>ooffice -math</execute></action></item>
        <item label="OpenOffice.org Writer"><action name="Execute"><execute>ooffice -writer</execute></action></item>
        <item label="OpenOffice.org"><action name="Execute"><execute>ooffice</execute></action></item>
    </menu>
    <menu id="Network" label="Network">
    </menu>
    <menu id="Settings" label="Settings">
        <item label="fcitx"><action name="Execute"><execute>libfm-pref-apps</execute></action></item>
        <item label="Qt 4設定"><action name="Execute"><execute>/usr/bin/qtconfig-qt4</execute></action></item>
    </menu>
    <separator />
    <menu id="Openbox Settings" label="Openbox Settings">
        <item label="Reconfigure Openbox"><action name="Reconfigure" /></item>
        <item label="Configure Autostart Applications"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/openbox/autostart.sh</execute></action></item>
        <item label="Edit rc.xml"><action name="Execute"><execute>xterm -e vim /home/nobuyasu/.config/openbox/rc.xml</execute></action></item>
        <separator label="obmenugen settings"/>
        <item label="Edit obmenugen configuration"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/obmenugen/obmenugen.cfg</execute></action></item>
        <item label="Edit obmenugen exclusions"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/obmenugen/exclusions</execute></action></item>
        <item label="Edit obmenugen schema"><action name="Execute"><execute>xterm -e nano /home/nobuyasu/.config/obmenugen/obmenugen.schema</execute></action></item>
    </menu>
    <item label="Reconfigure Openbox"><action name="Reconfigure" /></item>
    <separator />
    <item label="Lock Screen"><action name="Execute"><execute>xscreensaver-command -lock</execute></action></item>
    <item label="Exit"><action name="Exit" /></item>
</menu>
</openbox_menu>
