[Unit]
Description="call xset-key-repeat.serice every 1min"
After="ly.service"
Requires="ly.service"

[Timer]
OnUnitActiveSec=1m
Unit=xset-key-repeat.service

[Install]
WantedBy=multi-user.target
